<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>应聘</title>
    <link href="__PUBLIC__/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/css/plugins/footable/footable.core.css" rel="stylesheet">

    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css?v=4.0.0" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 class='pull-left'>应聘管理</h5>
                            <div class=" pull-right ">
                                <button class="btn btn-primary" type="button" onclick='reload();'><i class="fa  fa-refresh"></i> 刷新</button>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
                                <thead>
                                <tr>

                                    <th data-toggle="true">编号</th>
                                    <th>姓名</th>
                                    <th>职位</th>
                                    <th>性别</th>
                                    <th>户籍</th>
                                    <th>学历</th>
                                     <th>手机号</th>
                                    <th>邮箱</th>
                                    <th>QQ</th>
                                    <th >申请时间</th>
                                    <th>操作</th>
                                    <th data-hide="all">教育经历</th>
                                    <th data-hide="all">工作经历</th>
                                    <th data-hide="all">联系地址</th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name='list' item='i'>
                                    <tr>
                                    <td>{$i.id}</td>
                                    <td>{$i.name}</td>
                                    <td>{$i.job}</td>
                                    <td>{$i.sex}</td>
                                    <td>{$i.reg}</td>
                                    <td>{$i.edu}</td>
                                    <td>{$i.mobile}</td>
                                    <td>{$i.email}</td>
                                    <td>{$i.qq}</td>
                                    <td>{$i.create_dt}</td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i> 通过</a></td>
                                    <td>{$i.edu_info}</td>
                                    <td>{$i.work_info}</td>
                                    <td>{$i.address}</td>
                                    </tr>
                                </foreach>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="__PUBLIC__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js?v=3.3.5"></script>
    <script src="__PUBLIC__/js/plugins/footable/footable.all.min.js"></script>
    <!--<script src="js/content.min.js?v=1.0.0"></script>-->
    <script>
        $(document).ready(function(){$(".footable").footable();});
    </script>
  
</body>

</html>