
  <div id="footer">
   <div class="footerWrap">
    <div class="footer">
     <div class="footerTop ">
      <div class="footerLeft fl">
       <img src="__PUBLIC__/web/images/logo.png" alt="" />
      </div>
      <div class="footerCenter fl">
       <dl>
        <dt>
         关于我们
        </dt>
        <dd>
         <a href="{:U('Index/about','','')}">企业介绍</a>
        </dd>
        <dd>
         <a href="{:U('Index/about1','','')}">企业文化</a>
        </dd>
        <dd>
         <a href="{:U('Index/about2','','')}">管理团队</a>
        </dd>
        <dd>
         <a href="{:U('Index/about3','','')}">企业年制</a>
        </dd>
       </dl>
       <dl>
        <dt>
         新闻中心
        </dt>
        <dd>
         <a href="{:U('Index/news','','')}">集团新闻</a>
        </dd>
        <dd>
         <a href="{:U('Index/newsindustry','','')}">行业新闻</a>
        </dd>
       </dl>
       <dl>
        <dt>
         产品服务
        </dt>
        <dd>
         <a href="{:U('Index/land','','')}">森华信地产</a>
        </dd>
        <dd>
         <a href="{:U('Index/marketing','','')}">营销策划</a>
        </dd>
        <dd>
         <a href="{:U('Index/travel','','')}">生态旅游</a>
        </dd>
        <dd>
         <a href="{:U('Index/medicine','','')}">口腔医疗</a>
        </dd>
       </dl>
       <dl>
        <dt>
         加入我们
        </dt>
        <dd>
         <a href="{:U('Index/idea','','')}">人才理念</a>
        </dd>
        <dd>
         <a href="{:U('Index/joinus','','')}">我要应聘</a>
        </dd>
       </dl>
      </div>
      <div class="footerRight fr">
       <p><span class="fl">客服热线</span></p>
       <h2>0898-66788686</h2>
       <p><span class="fl">公司地址</span><a href="http://map.baidu.com/?newmap=1&amp;ie=utf-8&amp;s=s%26wd%3D%E6%B5%B7%E5%8F%A3%E6%B5%B7%E5%8D%97%E6%A3%AE%E5%8D%8E%E4%BF%A1%E5%AE%9E%E4%B8%9A%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8" class="fr">在地图上查看</a></p>
       <h3>海口市海甸岛四东路1号环岛大厦14楼</h3> 
      </div>
     </div>
     <div class="Line"></div>
     <div class="footerBottom">
      <p class="fl"><span>Copyright &copy; 2017, XXXX Co., Ltd. All Rights Reserved. 海南森华信集团&amp;海南森华信实业有限公司</span><span>琼ICP备13000622号-2 </span></p>
      <div class="fr language"> 
       <a class="english"><i>英文</i></a>
       <a class="china"><i>中文</i></a>
      </div>
     </div>
    </div>
   </div>
  </div>