
  <div id="pcMunu">
   <div class="headerWrap">
    <div class="header">
     <div class="logo fl"></div>
     <div class="phoneMenu">
      <span></span>
      <span></span>
      <span></span>
     </div>
     <div class="search fr">
      <a href="{:U('Index/search','','')}"></a>
     </div>
     <div class="headertab  fr">
      <ul>
       <li><h2><a href="{:U('Index/index','','')}">首页</a></h2></li>
       <li class=""><h2 class=""><a>关于我们</a></h2>
        <dl>
         <dd class="">
          <a href="{:U('Index/about','','')}">企业介绍</a>
         </dd>
         <dd>
          <a href="{:U('Index/about1','','')}">企业文化</a>
         </dd>
         <dd>
          <a href="{:U('Index/about2','','')}">管理团队</a>
         </dd>
         <dd>
          <a href="{:U('Index/about3','','')}">企业年制</a>
         </dd>
        </dl></li>
       <li><h2><a>新闻中心</a></h2>
        <dl>
         <dd>
          <a href="{:U('Index/news','','')}">集团新闻</a> 
         </dd>
         <dd>
          <a href="{:U('Index/newsindustry','','')}">行业新闻</a> 
         </dd>
        </dl></li>
       <li><h2><a>产品服务</a></h2>
        <dl>
         <dd>
          <a href="{:U('Index/land','','')}">森华信地产</a>
         </dd>
         <dd>
          <a href="{:U('Index/marketing','','')}">营销策划</a>
         </dd>
         <dd>
          <a href="{:U('Index/travel','','')}">生态旅游</a>
         </dd>
         <dd>
          <a href="{:U('Index/medicine','','')}">口腔医疗</a>
         </dd>
        </dl></li>
       <li><h2><a>加入我们</a></h2>
        <dl>
         <dd>
          <a href="{:U('Index/idea','','')}">人才理念</a> 
         </dd>
         <dd>
          <a href="{:U('Index/joinus','','')}">我要应聘</a> 
         </dd>
        </dl></li>
       <li><h2><a href="{:U('Index/contact','','')}">联系我们</a></h2></li>
      </ul>
     </div>
    </div> 
   </div>
  </div>

<script>
    var HEADER='[title]';
</script>