<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="__PUBLIC__/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css?v=4.0.0" rel="stylesheet">
    <link href="__PUBLIC__/status/status.css" rel="stylesheet">
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/status/status.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
    </head>
    <body>
       <div class="row">
            <div class="col-sm-9">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>添加新闻</h5>
                    </div>
                    <div class="ibox-content">
                         <div id="ts" />
                        <form class="form-horizontal m-t" id="commentForm" novalidate="novalidate">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">标题：</label>
                                <div class="col-sm-9">
                                    <input id="tb_title" name="name" placeholder="请输入新闻标题..." minlength="2" type="text" class="form-control" required="" aria-required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">来源：</label>
                                <div class="col-sm-9">
                                    <input id="tb_source" type="text" class="form-control" placeholder="请输入新闻来源..." value="森华信" name="email" required="" aria-required="true">
                                </div>
                            </div>
                         
      <div class="form-group">
        <label class="col-sm-2 control-label">类别：</label>
        <div class="col-sm-3">
            <select class="form-control" id='cb_category'>
                <option value="1">行业动态</option>
                <option value='2'>集团新闻</option>
            </select>
        </div>
    </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">封面：</label>
                                <div class="col-sm-9">
                                 <button type="button" id="j_upload_img_btn">封面上传</button>
<ul id="upload_img_wrap"></ul>
<!-- 加载编辑器的容器 -->
<textarea id="uploadEditor" style="display: none;"></textarea>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">内容：</label>
                                <div class="col-sm-9">
                                    <script id="editor" type="text/plain" style="height:300px;"></script>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-3">
                                    <button class="btn btn-primary" type="button" onclick='save();' >提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
         <script src="__PUBLIC__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js?v=3.3.5"></script>
<!--    <script src="js/content.min.js?v=1.0.0"></script>
    <script src="js/plugins/validate/jquery.validate.min.js"></script>
    <script src="js/plugins/validate/messages_zh.min.js"></script>-->
<script>
     var ue = UE.getEditor('editor');
     // 实例化编辑器，这里注意配置项隐藏编辑器并禁用默认的基础功能。
 var uploadEditor = UE.getEditor("uploadEditor", {
        isShow: false,
        focus: false,
        enableAutoSave: false,
        autoSyncData: false,
        autoFloatEnabled:false,
        wordCount: false,
        sourceEditor: null,
        scaleEnabled:true,
        toolbars: [["insertimage", "attachment"]]
    });
uploadEditor.ready(function () {
    // 监听插入图片
    uploadEditor.addListener("beforeInsertImage", _beforeInsertImage);
});
document.getElementById('j_upload_img_btn').onclick = function () {
    var dialog = uploadEditor.getDialog("insertimage");
    dialog.title = '图片管理';
    dialog.render();
    dialog.open();
};
function _beforeInsertImage(t, result) {
    var imageHtml = '';
//    for(var i in result){
//        imageHtml += '<li><img src="'+result[i].src+'" alt="'+result[i].alt+'" height="150"></li>';
//    }
    if (result.length>0) {
     imageHtml += '<img id="img" src="'+result[0].src+'" alt="'+result[0].alt+'" height="150">';
    }
    document.getElementById('upload_img_wrap').innerHTML = imageHtml;
}

function save(){
    var title=$('#tb_title').val();
    if (title.length<1) {
        alert('标题不能为空');
        return;
    }
    var source=$('#tb_source').val();
        if (source.length<1) {
        alert('来源不能为空');
        return;
    }
    var img=$('#img').attr('src');
    var category=$('#cb_category').val();
    var content=ue.getContent();
    
   $.post('save',{title:title,source:source,img:img,category:category,content:content},function(d){
       if (d==0) {
    //alert('添加成功.');
    status("info", "添加成功！");
    $('#tb_title').val('');
   // $('#tb_source').val('');
    var content=ue.setContent('');
    $('#img').remove();
}
   })
}
</script>
    </body>
</html>
