<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新闻列表</title>
  
    <link href="__PUBLIC__/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <!-- Data Tables -->
    <link href="__PUBLIC__/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css?v=4.0.0" rel="stylesheet">
    
    
    <link href="__PUBLIC__/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">


</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 class='pull-left'>{$title}</h5>
                        <div class=" pull-right ">
                            <button class="btn btn-primary" type="button" onclick='reload();'><i class="fa  fa-refresh"></i> 刷新</button>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id="ts"/>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th style='width: 40px;'>编号</th>
                                    <th>标题</th>
                                    <th>来源</th>
                                    <th>浏览量</th>
                                    <th>发布时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                            <foreach name='list' item='i'>
                                 <tr class="gradeX">
                                    <td  class="center">{$i.id}</td>
                                    <td>{$i.title}</td>
                                    <td>{$i.source}</td>
                                    <td class="center">{$i.readnum}</td>
                                    <td class="center">{$i.create_dt}</td>
                                    <td>
                                        <button class="btn btn-red " onclick="del({$i.id})" type="button">
                                            <i class="fa fa-dropbox"></i>
                                            &nbsp;&nbsp;<span class="bold">删除</span>
                                        </button>
                                         <button type="button" class="btn btn-red " onclick="edit({$i.id})">编辑</button>
                                    </td>
                                </tr>
                            </foreach>
                            </tbody>
                           
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js?v=3.3.5"></script>
    <!--<script src="__PUBLIC__/js/plugins/jeditable/jquery.jeditable.js"></script>-->
    <script src="__PUBLIC__/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="__PUBLIC__/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <!--<script src="__PUBLIC__/js/content.min.js?v=1.0.0"></script>-->
     <script src="__PUBLIC__/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script>
    function edit(id){
        window.location.href="{:U('News/add')}?id="+id+"&t="+{$t};
    }    
        
    $(document).ready(function () {
        $(".table").dataTable(
                { "bSort": false}
            );  
    });
    var t={$t};
    
    function del(id){
        swal({
        title: "您确定要删除这条信息吗",
        text: "删除后将无法恢复，请谨慎操作！",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "删除",
        closeOnConfirm: false
    }, function () {
        $.post("{:U('News/del')}",{id:id,t:t},function(d){
            //swal("删除成功！", "您已经永久删除了这条信息。", "success");
            window.location.reload();
        })
       
    });
    
    }
</script>
</body>

</html>