<!DOCTYPE html>
<html>
 <head> 
  <title>TODO supply a title</title> 
  <meta charset="UTF-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  
  
  
  <!--<link href="__PUBLIC__/css/bootstrap.min.css?v=3.3.5" rel="stylesheet" />--> 
  <link href="__PUBLIC__/css/font-awesome.min.css?v=4.4.0" rel="stylesheet" /> 
  <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet" /> 
  <link href="__PUBLIC__/css/style.min.css?v=4.0.0" rel="stylesheet" /> 
  <link href="__PUBLIC__/status/status.css" rel="stylesheet" /> 
  <script type="text/javascript" charset="utf-8" src="__PUBLIC__/status/status.js"></script> 
  <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script> 
  <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"> </script> 
  <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script> 
  
  <link href="__PUBLIC__/js/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
  
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
	<!--<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>-->
	<!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<style type="text/css">
  #j_upload_img_btn ul{
    list-style: none;
    padding:24px 0 0;
    margin: 0;
  }
  #j_upload_img_btn ul li{
    width: 180px;
    margin-right: 12px;
    height: auto;
    float: left;
  }
  #j_upload_img_btn ul li img{
    display: block;
    width: 100%;
    margin-bottom: 12px;
  }
</style>
 </head> 
 <body> 
  <div class="row"> 
   <div class="col-sm-9"> 
    <div class="ibox float-e-margins"> 
     <div class="ibox-title"> 
      <h5>{$title}</h5> 
       <div class="ibox-tools">
             <button class="btn btn-primary btn-xs" type="button" onclick="save();"><i class="fa fa-check"></i>保存
             </button>
      <if condition="$title eq '新增项目'"><else />
            <a href="{:U('Product/index')}" class="btn btn-primary btn-xs">返回列表</a>
        
      </if>
        </div>
     </div> 
     <div class="ibox-content"> 
      <div id="ts"> 
       <form class="form-horizontal m-t" id="commentForm" novalidate="novalidate"> 
        <div class="form-group"> 
         <label class="col-sm-2 control-label">项目名称：</label> 
         <div class="col-sm-10">             
             <input id="p_name" value="{$pro.name}" placeholder="请输入项目名称..." minlength="2" type="text"  class="form-control" required="" aria-required="true" />
         </div> 
        </div> 
        <div class="form-group"> 
         <label class="col-sm-2 control-label">项目名称(英)：</label> 
         <div class="col-sm-10">             
             <input id="p_name_en" value="{$pro.name_en}" placeholder="Please input the product name..." minlength="2" type="text"  class="form-control" required="" aria-required="true" />
         </div> 
        </div> 
        <div class="form-group"> 
         <label class="col-sm-2 control-label">地址：</label> 
         <div class="col-sm-10"> 
          <input id="p_address" value="{$pro.address}" type="text" class="form-control" placeholder="请输入项目地址..." required="" aria-required="true" /> 
         </div> 
        </div> 
            <div class="form-group"> 
         <label class="col-sm-2 control-label">地址(英)：</label> 
         <div class="col-sm-10"> 
          <input id="p_address_en" value="{$pro.address_en}" type="text" class="form-control" placeholder="Please input the address..." required="" aria-required="true" /> 
         </div> 
        </div> 
        <div class="form-group"> 
         <label class="col-sm-2 control-label">用地面积：</label> 
         <div class="col-sm-4"> 
               <div class="input-group">
          <input id="p_area_yd" type="number" value="{$pro.area_yd}" class="form-control"  required="" aria-required="true" /> 
          <span class="input-group-addon">㎡</span>
</div>
               </div>
         
           <label class="col-sm-2 control-label">建筑面积：</label> 
         <div class="col-sm-4"> 
               <div class="input-group">
          <input id="p_area_jz" type="number" value="{$pro.area_jz}" class="form-control" required="" aria-required="true" /> 
         <span class="input-group-addon">㎡</span>
</div>
               </div> 
        </div> 
        <div class="form-group"> 
         <label class="col-sm-2 control-label">容积率：</label> 
         <div class="col-sm-4"> 
              <!--<div class="input-group">-->
          <input id="p_rongji" type="number" value="{$pro.rongji}" class="form-control"  required="" aria-required="true" /> 
        <!--<span class="input-group-addon">%</span>-->
<!--</div>-->
              </div> 
         
          <label class="col-sm-2 control-label">绿化率：</label> 
         <div class="col-sm-4"> 
             <div class="input-group">
 <input id="p_lvhua"  type="number" value="{$pro.lvhua}" class="form-control"  required="" aria-required="true" />       
  <span class="input-group-addon">%</span>
</div>
         </div> 
        </div> 
        <div class="form-group"> 
         <label class="col-sm-2 control-label">建筑类型：</label> 
         <div class="col-sm-4"> 
          <select class="form-control" id="p_category"> <option value="板楼">板楼</option> <option value="板塔结合">板塔结合</option> </select> 
         </div> 
          <label class="col-sm-2 control-label">状态：</label> 
         <div class="col-sm-4"> 
          <select class="form-control" id="p_sell"> <option value="0">在售</option> <option value="1">已售罄</option> </select> 
         </div> 
        </div>  
        <div class="form-group">
               <label class="col-sm-2 control-label">项目图集：</label> 
               <div class="col-sm-10">
<button type="button" id="j_upload_img_btn" >上传图片</button>
<ul id="upload_img_wrap" style='margin: 0;padding: 24px 0 0;list-style: none;'>
    <foreach name='imgs' item='i'>
        <li>
            <img src="{$i.img}" height="150"><button class="btn btn-red" onclick="delImg();" type="button">
             <i class="fa fa-dropbox"></i>&nbsp;&nbsp;<span class="bold" style=''>删除</span></button>
        </li>
    </foreach>

</ul>
<!-- 加载编辑器的容器 -->
<textarea id="uploadEditor" style="display: none;"></textarea>

<!--                        <a class="fancybox" href="__PUBLIC__/img/profile_small.jpg" title="图片1">
                            <img alt="image" src="__PUBLIC__/img/profile_small.jpg">
                        </a>
                     <a class="fancybox" href="__PUBLIC__/img/profile_small.jpg" title="图片1">
                            <img alt="image" src="__PUBLIC__/img/profile_small.jpg">
                        </a>-->
                    </div>
           </div>
        <div class="form-group"> 
         <label class="col-sm-2 control-label">项目介绍：</label> 
         <div class="col-sm-10"> 
          <script id="editor" type="text/plain" style="height:300px;"></script> 
         </div> 
        </div> 
            <div class="form-group"> 
         <label class="col-sm-2 control-label">项目介绍(英)：</label> 
         <div class="col-sm-10"> 
          <script id="editor_en" type="text/plain" style="height:300px;"></script> 
         </div> 
        </div> 
          
<!--        <div class="form-group"> 
         <div class="col-sm-4 col-sm-offset-3"> 
          <button class="btn btn-primary" type="button" onclick="save();">提交</button> 
         </div> 
        </div> -->
       </form> 
      </div> 
     </div> 
    </div> 
   </div> 
   <script src="__PUBLIC__/js/jquery.min.js?v=2.1.4"></script> 
   <script src="__PUBLIC__/js/bootstrap.min.js?v=3.3.5"></script> 
    <script src="__PUBLIC__/js/plugins/fancybox/jquery.fancybox.js"></script>
   <script>

    $(document).ready(function(){$(".fancybox").fancybox({openEffect:"none",closeEffect:"none"})});
         
     var ue = UE.getEditor('editor');
     // 实例化编辑器，这里注意配置项隐藏编辑器并禁用默认的基础功能。
     
        ue.addListener("ready", function () {  
               // editor准备好之后才可以使用  
               ue.setContent("{$pro.content}");  
  
       }); 
       var ue_en=UE.getEditor('editor_en');
       ue_en.addListener("ready",function(){ue_en.setContent('{$pro.content_en}');});

function save(){
    var name=$('#p_name').val();
    var name_en=$('#p_name_en').val();
    var address=$('#p_address').val();
    var address_en=$('#p_address_en').val();
    var ydmj=$('#p_area_yd').val();
    var jzmj=$('#p_area_jz').val();
    var rongji=$('#p_rongji').val();
    var lvhua=$('#p_lvhua').val();
    var category=$('#p_category').val();
    var sell=$('#p_sell').val();
    var content=ue.getContent();
    var content_en=ue_en.getContent();
    var action=<if condition="$title eq '新增项目'">1<else />2</if>;
    var url=<if condition="$title eq '新增项目'">"update"<else />"update?id={$pro.id}"</if>;
    var img_ul=document.getElementById('upload_img_wrap').getElementsByTagName('li');
   
    var imgs="";//图集
     $('#upload_img_wrap').find("li").each(function(){
        imgs+=$(this).find('img')[0].src+"|";
    });
   $.post(url,{imgs:imgs,t:action,name:name,name_en:name_en,address:address,address_en:address_en,area_yd:ydmj,area_jz:jzmj,content:content,content_en:content_en,rongji:rongji,lvhua:lvhua,category:category,sell:sell},function(d){
       if (d==200) {
    status("info", "添加成功！");
    if (action==2) {
    window.location.href="{:U('Product/index')}";
}
    var content=ue.setContent('');
    var content_en=ue_en.setContent('');
    
}
   })
}


var uploadEditor = UE.getEditor("uploadEditor", {
        isShow: false,
        focus: false,
        enableAutoSave: false,
        autoSyncData: false,
        autoFloatEnabled:false,
        wordCount: false,
        sourceEditor: null,
        scaleEnabled:true,
        toolbars: [["insertimage", "attachment"]]
    });
uploadEditor.ready(function () {
    // 监听插入图片
    uploadEditor.addListener("beforeInsertImage", _beforeInsertImage);
});
document.getElementById('j_upload_img_btn').onclick = function () {
    var dialog = uploadEditor.getDialog("insertimage");
    dialog.title = '图片管理';
    dialog.render();
    dialog.open();
};
function _beforeInsertImage(t, result) {
    var imageHtml = ''; 
    for(var i in result){
        imageHtml += '<li><img src="'+result[i].src+'" alt="'+result[i].alt+'" height="150">';
        imageHtml += '<button class="btn btn-red" onclick="delImg();" type="button"><i class="fa fa-dropbox"></i>&nbsp;&nbsp;<span class="bold">删除</span></button>';
        imageHtml +='</li>'
    }
    document.getElementById('upload_img_wrap').innerHTML = imageHtml;
}

function delImg(){
  alert('删除图片');
}
</script>   
  </div>
 </body>
</html>